<div style="background-color: blue; display: flex; align-items: center;">
  <h1 style="color: white; margin-right: auto; margin-left: 2%;">This is Header</h1>
  <a style="color: white;margin-right: 12px;">contact us</a>
  <input type="text" placeholder="Search" style="text-align: center; font-size: medium;">
  <button style="margin-right: 2%;padding: auto;" >Search</button>
  <button (click)="loginButtonText()" style="padding: 12px; margin-right: 20px;border-radius: 50%;font-weight: bold;">{{ logintext }}</button>
</div>
